<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <!-- <div *ngFor="let drink of drinks; let i=index">

  <ion-item>
    <ion-thumbnail item-start>
      <!-- <img [src]= "'assets/drinks-img/' + drink.image"> -->
    <!-- </ion-thumbnail>
    <h2>My Neighbor Totoro</h2>
    <p>Hayao Miyazaki • 1988</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</div> -->
  <ion-list *ngFor="let drink of drinks; let i=index">
    <!-- <ion-col col-md-6 col-sm-6 col-12 *ngFor="let drink of drinks; let i=index"> -->
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]= "'assets/drinks-img/' + drink.image">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    <!-- </ion-col> -->
  </ion-list>

</ion-content>
